.col {
    cursor: pointer;
}

.flag {
    width: 50%;
    height: 50%;
}

.col {
    width: 20vh;
}

.active {
    background-color: grey;
}

@media screen and (max-width: 1280px)
{
    /* Rédigez vos propriétés CSS ici */
}
